# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

./FIXES_SUMMARY.md
./IMPLEMENTATION_SUMMARY.md
./README.md
./TODO.md
./qr_test.html
./test_qr_simple.html
./test_qr.html
./TASK_SPEC.md